@import "../../assets/css/config/variables";
@import "../../assets/css/mixin/function";

.approval {
  margin-top: 15px;
  padding: 20px;

  .inner {
    .nav {
      h3 {
        font-size: 46px;
        line-height: 56px;
        font-family: 'Inter', sans-serif;
        color: #0D062D;
        font-weight: 600;
        margin-bottom: 20px;
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3px;
      @include tablet {
        display: unset;
        margin-bottom: 20px;
      }
      @include sp {
        display: unset;
        margin-bottom: get_sp(20);
      }

      &_item {
        display: flex;
        margin-bottom: 0;
        @include tablet {
          margin-bottom: 10px;
        }
        @include sp {
          margin-bottom: 10px;
        }

      }

      .search {
        display: flex;
        @include tablet {
          margin-bottom: 10px;
        }

        .search_ {
          width: 417px;
          @include pc {
            width: get_pc(417);
          }
          @include tablet {
            width: get_tablet(417);
          }
          @include sp {
            width: get_sp(417);
          }
        }

        button {
          background-color: #FFFFFF;
          border-color: #787486;
          color: #787486;
          margin-left: 10px;
          padding: 3.5px 15px;
        }
      }
    }
  }
}

.account_table_list {
  margin-top: 10px;
  padding: 20px;

  .account_list {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
  }

  .name_table {
    padding: 16px 16px 0 16px;

  }

  .button_ {
    margin: 0 10px;
    border-radius: 5px;
    text-transform: capitalize;
    height: 48px;
  }

  .text_bold {
    font-weight: bold;
  }

  .center_text {
    display: grid;
    justify-content: center;
  }


}

.period {
  display: flex;
  white-space: nowrap;
  align-items: center;

  &_skeleton {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
  }

  &_skeleton_ {
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

.modal_send {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 1073px;
  position: relative;
  transition: all 5s ease-in-out;
  height: 100%;
  @include sp {
    width: 90%;
    padding: get_sp(20);
  }

  .inner {
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    @include sp {
      padding: get_sp(20);
    }

    .send_btn {
      margin: 0 auto;
      width: 139px;
      padding: 14px 0;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 14px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      line-height: unset;
      cursor: pointer;

      @include sp {
        top: 0;
        right: get_sp(6);
      }
    }

    h2 {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: #1C1C1C;
      text-align: center;
    }

    ul {
      justify-content: flex-end;
    }
  }
}