@import "../../assets/css/config/variables";
@import "../../assets/css/mixin/function";

.graduation {

  .inner {
    padding: 0 25.5px;

    .nav {
      h3 {
        font-size: 46px;
        line-height: 56px;
        font-family: 'Inter', sans-serif;
        color: #0D062D;
        font-weight: 600;
        padding-top: 41px;
        padding-left: 22.5px;
        margin-bottom: 39px;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 3px;
        @include tablet {
          display: unset;
          margin-bottom: 20px;
        }
        @include sp {
          display: unset;
          margin-bottom: get_sp(20);
        }

        &_item {
          display: flex;
          margin-bottom: 0;
          @include tablet {
            margin-bottom: 10px;
          }
          @include sp {
            margin-bottom: 10px;
          }

        }

        .search {
          display: flex;
          @include tablet {
            margin-bottom: 10px;
          }

          .search_ {
            width: 417px;
            @include pc {
              width: get_pc(417);
            }
            @include tablet {
              width: get_tablet(417);
            }
            @include sp {
              width: get_sp(417);
            }
          }

          button {
            background-color: #FFFFFF;
            border-color: #787486;
            color: #787486;
            margin-left: 10px;
            padding: 3.5px 15px;
          }
        }
      }
    }
  }

  .account_table_list {
    margin-top: 10px;
    padding: 20px;

    .account_list {
      display: flex;
      white-space: nowrap;
    }

    .name_table {
      padding: 16px 16px 0 16px;

    }

    .button_account_management {
      display: flex;
      white-space: nowrap;
      margin: auto 5px auto auto;

      .button_ {
        margin: 0 10px;
        border-radius: 10px;
        text-transform: capitalize;
      }
    }

    .text_bold {
      font-weight: bold;
    }

    .center_text {
      display: grid;
      justify-content: center;
    }
  }

  //css grid
  .graduation_Grid {
    padding-bottom: 20px;

    .boxLeft {
      width: 100%;
      border-radius: 10px;
      box-sizing: border-box;
      @include pc {
        height: 148px;
        box-sizing: border-box;
      }
      @include tablet {
        height: 120px;
        box-sizing: border-box;
      }
      @include sp {
        height: 100px;
        box-sizing: border-box;
      }
    }

    .boxRight {
      width: 100%;
      background-color: rgba(238, 238, 238, 0.99);
      border-radius: 10px;
      box-sizing: border-box;
      @include pc {
        height: 148px;
        box-sizing: border-box;
      }
      @include tablet {
        height: 120px;
        box-sizing: border-box;
      }
      @include sp {
        height: 100px;
        box-sizing: border-box;
      }
    }

    .text {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      padding: 24px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include tablet {
        font-size: get_tablet(18);
      }
      @include sp {
        font-size: get_spt(15);
      }

    }

    .text2 {
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 18px;
      padding: 24px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include tablet {
        font-size: get_tablet(18);
      }
      @include sp {
        font-size: get_spt(15);
      }
    }

  }
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modalContent {
    height: 530px;
    background: #F7F9FB;
    border-radius: 16px;
    margin: 20px;
    padding: 20px;

    .contentTop {
      display: flex;
      align-items: center;
      padding-left: 20px;
    }

    .btn {
      display: flex;
      @include sp {
        display: unset;
      }

      .button {
        width: 100%;
        height: 50px;
        top: 18px;
        background: #FFFFFF;
        border: 1px solid #787486;
        border-radius: 8px;
        margin-left: 10px;
      }
    }

    .boxContent {
      width: 100%;
      height: 148px;
      left: 20px;
      top: 10px;
      border-radius: 10px;
      background: rgba(238, 238, 238, 0.99);
      box-sizing: border-box;
      @include pc {
        height: 148px;
        width: 100%;
        padding: 30px;
      }
    }
  }
}

.period {
  display: flex;
  white-space: nowrap;
  align-items: center;

  &_skeleton {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
  }

  &_skeleton_ {
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}