@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
@mixin formclear {
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}
@mixin bgsetup($bgimage: '', $bgrepeat: '', $bgposi: '', $bgsize: '') {
    @if $bgimage != '' {
        background-image: url($bgimage);
    }
    @if $bgrepeat != '' {
        background-repeat: $bgrepeat;
    }
    @if $bgposi != '' {
        background-position: $bgposi;
    }
    @if $bgsize != '' {
        background-size: $bgsize;
    }
}

@mixin pc { //pc
    @media only screen and (max-width: ($breakpoint-lagre)) and (min-width: ($breakpoint-pc)) {
        @content;
    }
}

@mixin tablet { //pc
    @media only screen and (max-width: ($breakpoint-pc)) and (min-width: ($breakpoint-md)) {
        @content;
    }
}

@mixin sp { //sp
    @media (max-width: ($breakpoint-md)) {
        @content;
    }
}

@function get_pc($fsize, $viewport:1920) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@function get_tablet($fsize, $viewport:1000) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}

@function get_sp($fsize, $viewport:390) {
    $rate: 100 / $viewport;
    @return $rate * $fsize * 1vw;
}


@mixin textSetting($font-size : '' , $line-height : '', $color: '', $font-weight: '' , $letter-spacing: '') {
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
}

/* text clamp */
@mixin txtClamp($clamp: '') {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $clamp;
}
@mixin inner_fluid($calcwidth) {
    width: 100vw;
    max-width: unset;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    //padding: calc((100vw - #{$calcwidth}) / 2);
}
