@import "../../assets/css/config/variables";
@import "../../assets/css/mixin/function";

.notification {
  padding: 50px 21px;
  @include sp {
    padding: get_sp(20);
  }

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin-left: 16px;
    margin-bottom: 68px;
    @include sp {
      margin-bottom: get_sp(20);
    }
  }

  .inner {
    display: flex;
    padding: 20px 54px 36px 50px;
    border: 1px solid #000000;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    @include sp {
      padding: get_sp(20);
      display: block;
    }

    .txt {
      @include sp {
        margin-bottom: get_sp(20);
      }

      h4 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #1C1C1C;
        margin-bottom: 16px;
        @include sp {
          font-size: get_sp(20);
          display: block;
          margin-bottom: 0;
        }
      }

      p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 16px;
        line-height: 28px;
        color: #1C1C1C;
        margin-left: 16px;
        @include sp {
          font-size: get_sp(16);
          margin-left: 0;
        }
      }
    }

    .thumb {
      width: 60px;
      height: 47px;
      cursor: pointer;
      @include sp {
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.modal_notification {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 900px;
  position: relative;
  transition: all 5s ease-in-out;
  height: 100%;
  @include sp {
    width: 90%;
    padding: get_sp(20);
  }

  .inner {
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    @include sp {
      padding: get_sp(20);
    }

    .close {
      position: absolute;
      top: 10px;
      right: 14px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
      line-height: unset;
      cursor: pointer;

      @include sp {
        top: 0;
        right: get_sp(6);
      }
    }

    .tlt {
      h2 {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #1C1C1C;
      }

      p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        color: #1C1C1C;
        margin-left: 26px;
        @include sp {
          margin-left: 0;
        }

        span {
          font-weight: 200;
        }
      }

      margin-bottom: 19px;
    }

    .txt {
      margin-left: 47px;
      margin-bottom: 34px;
      @include sp {
        margin-left: 0;
      }

      p {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: #1C1C1C;
        margin-left: 26px;
        @include sp {
          margin-left: 0;
        }

        span {
          font-weight: 200;
        }
      }

      button {
        margin-left: auto;
        width: 139px;
        padding: 14px 0;
      }
    }
  }
}
  