@import "./variables";
@import "../mixin/function";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

//blockquote, q{quotes:none;}
//blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
  display: none;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.container {
  padding-top: 88px;
  padding-left: 335px;
  transition: all 0.15s ease;

  @include tablet {
    padding-top: 70px;
    padding-left: 65px;
  }

  @include sp {
    padding-top: 70px;
    padding-left: 65px;
  }

  &.active {
    padding-left: 80px;
    transition: all 0.15s ease;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
