$base-font-family: "Roboto", sans-serif;

$breakpoint-lagre: 1920px;
$breakpoint-pc: 1000px;
$breakpoint-md: 576px;

$ease-inout: ease-in-out;
$ease-liner: linear;
$ease-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-cubic-out: cubic-bezier(0.915, 0.03, 0.91, 0.35);
$color-base: #fff;
$clr-base-font: #000000;
$color-base-1: #1976d2;
$background-login: #fafafa;
$background-linear-1: #67D7F5;
$background-linear-2: #86F7CC;
