.graduation {
    .inner {
      padding: 0 25.5px;
  
      .nav {
        h3 {
          font-size: 46px;
          line-height: 56px;
          font-family: 'Inter', sans-serif;
          color: #0D062D;
          font-weight: 600;
          padding-top: 41px;
          padding-left: 22.5px;
          margin-bottom: 39px;
        }
      .btn{
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3px;  
      }
      .btn_item{
        display: flex;      
      }
      
      .search{
        display: flex;
      }
      button{
        background-color: #FFFFFF;
        border-color: #787486;
        color: #787486;
        margin-left: 10px;
        padding: 3.5px 15px;
      }
    }
}
}

.account_table_list{
  margin-top: 10px;
  .account_list{
      display: flex;
      white-space: nowrap;
  }
  .name_table{
      // padding: 16px 16px 0px 16px;
      margin: 8px;
  }
  .button_account_management{
      display: flex;
      margin: auto;
      white-space: nowrap;
      margin-right: 5px;
      .button_{
          margin: 0px 10px;
          border-radius: 10px;
          text-transform: capitalize;
      }
  }
  .text_bold{
      font-weight: bold;
  }
  .center_text{
      display: grid;
      justify-content: center;
  }
}

//css grid
.graduation_Grid{
  .boxLeft{
    height: 148px;
    width: 320px;
    border-radius: 16px;
    margin: 10px 0 10px 0 ;
  }

  .boxRight{
    height: 148px;
    width: 300px;
    background-color: rgba(238, 238, 238, 0.99);
    border-radius: 16px;
    margin: 10px 0 10px 0 ;
  }

  
  .text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 24px 0 0 24px;
  }
  .text2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 18px;
    padding: 24px 0 0 24px;
  }
  
}

