@import "../../../assets/css/config/variables";
@import "../../../assets/css/mixin/function";


.side_bar {
  position: fixed;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  max-width: 335px;
  padding-right: 0;
  padding-left: 0;
  min-width: 252px;
  border-color: rgba(0, 0, 0, .05);
  z-index: 1050;
  overflow-y: auto;
  transition: all .15s ease;
  padding-top: 0;
  border-style: solid;
  box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
  border-right: 1px solid #DBDBDB;
  font-family: 'Inter', sans-serif;

  &_logo {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    @include sp {
      padding: 20px 24px;
    }

    p {
      color: #0D062D;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      font-family: 'Inter', sans-serif;
      font-style: normal;

    }
  }

  &_inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 14px 14px 15px 14px;
  }

  .tlt {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 15px;
    color: #787486;
    padding-top: 30.5px;
    padding-left: 8px;
    margin-bottom: 21px;
    margin-left: 14px;
    padding-right: 8px;
    margin-right: 14px;
    border-top: 1px solid #DBDBDB;
  }

  .confirm {
    position: absolute;
    padding: 31px 31px 0 31px;
    bottom: 34px;
    text-align: center;
    @include tablet {
      position: unset;
      margin-bottom: 34px;
    }
    @include sp {
      position: unset;
      margin-bottom: 34px;
    }

    .inner {
      @include bgsetup("../../../assets/images/Union.png", no-repeat, top center, 100% auto);
      padding: 76px 26px 0;
      height: 187px;

      h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
      }

      p {
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: #787486;
        margin-bottom: 33px;
      }

      button {
        width: 100px;
      }

      button + button {
        margin-left: 20px;
      }
    }

    .thumb {
      @include bgsetup("../../../assets/images/LampOn.png", no-repeat, top center, 100% auto);
      position: relative;
      width: 45px;
      height: 38px;
      margin: 0 auto;
      top: -55px;
    }

    .thumb_ {
      @include bgsetup("../../../assets/images/Ellipse.png", no-repeat, top center, 100% auto);
      position: relative;
      width: 87px;
      height: 76px;
      margin: 0 auto;
      top: -113px;
    }

    .txt {
      position: relative;
      top: -113px;
    }
  }

  .tab {
    padding: 0 14px;

    .tab_ {
      justify-content: left;
      min-height: unset;
      padding: 11px 0 10.5px 12px;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      color: #787486;
      line-height: 19px;
      font-family: 'Inter', sans-serif;
      text-align: left;
      display: flex;

      svg {
        width: 8px;
        height: 8px;
        margin-right: 16px;
      }

      .green {
        color: #7AC555;
      }

      .red {
        color: #E94677;
      }

      .blu {
        color: #76A5EA;
      }
      .brown{
        color: #DAA669;
      }
      

      &.Mui-selected {
        background: rgba(80, 48, 229, 0.0784313725);
        border-radius: 6px;
      }

      + .tab_ {
        margin-top: 10px;
      }
    }
  }
}

#nav_toggle {
  width: 40px;
  height: 40px;
  background: $color-base;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include sp {
    width: 40px;
    height: 40px;
    top: 7.729vw;
    right: 7.488vw;
  }

  > div {
    position: relative;
    top: 20.5px;
    right: 0;
    width: 20px;
    left: 0;
    margin: auto;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $clr-base-font;
      left: 0;
      zoom: 1;
      -webkit-transition: .35s ease-in-out;
      transition: .35s ease-in-out;

      &:nth-child(1) {
        top: 0;
        width: 70%;
        transform: rotate(-45deg);
        transform-origin: left;
      }

      &:nth-child(2) {
        top: 0;
        width: 70%;
        transform: rotate(45deg);
        transform-origin: left;
      }

      &:nth-child(3) {
        left: 12px;
        width: 70%;
        transform: rotate(-45deg);
        transform-origin: left;
      }

      &:nth-child(4) {
        left: 12px;
        width: 70%;
        transform: rotate(45deg);
        transform-origin: left;
      }
    }
  }
}

.side_bar {
  &.active {
    max-width: 80px;

    .side_bar_logo {
      justify-content: center;
      padding: 24px 12px;
      @include sp {
        padding: 20px 12px;
      }

      .Logo {
        display: none;
      }

      p {
        display: none;
      }
    }

    #nav_toggle {
      background: $color-base;
      width: 40px;
      height: 40px;
      top: 23px;
      right: 23px;
      padding: 0;
      box-shadow: unset;
      @include sp {
        width: 40px;
        height: 40px;
        top: 7.729vw;
        right: 7.488vw;
      }

      > div {
        width: 22px;
        top: 11px;
        @include sp {
          width: 4.695vw;
        }

        span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: $clr-base-font;
          left: 0;
          zoom: 1;
          top: 11px;
          transition: .35s ease-in-out;
          transform: rotate(0deg);

          &:nth-child(1) {
            top: 0;
          }

          &:nth-child(2) {
            top: 8px;
          }

          &:nth-child(3) {
            top: 16px;
          }

          &:nth-child(4) {
            width: 0;
          }
        }
      }
    }

    .side_bar_inner {
      align-items: center;

      .menu_item {
        padding: 10px 0;

        .icon {
          margin-right: 0;
        }

        .title {
          display: none;
        }
      }
    }

    .confirm {
      display: none;
    }
  }
}

.side_bar {
  &.active {
    .menu_item {
      &.active {
        background: none;

        .icon {
          color: #5030E514;
        }
      }
    }

    .tlt {
      display: none;
    }

    .tab {
      display: none;
    }
  }
  .divider_side_bar{
    margin-top: 40%;
  }
}