@import "../../assets/css/config/variables";
@import "../../assets/css/mixin/function";


.homepage_test {
    padding-top: 88px;
    padding-left: 250px;
    .inner {
        padding: 0 25.5px;
        h3 {
            font-size: 46px;
            line-height: 56px;
            font-family: 'Inter', sans-serif;
            color: #0D062D;
            font-weight: 600;
            padding-top: 41px;
            padding-left: 22.5px;
            margin-bottom: 39px;
        }
        .group {}
    }
}

