@import "../../assets/css/config/variables";
@import "../../assets/css/mixin/function";

.document {
    padding: 48px 104px 100px;
    @include sp {
      padding: get_sp(20);
    }
    h2 {
        font-family: 'Inter';
        font-size: normal;
        font-weight: 600;
        font-size: 46px;
        line-height: 56px;
        color: #0D062D;
        margin-left: 16px;
        margin-bottom: 61px;
        @include sp {
          margin-bottom: get_sp(20);
        }
    }
    .inner {
        display: flex;
        a {
            text-decoration: none;
        }
        .group {
            padding: 35px 42px 42px;
            text-align: center;
            background: #F4F4F4;
            margin-right: 42px;
            border-radius: 10px;
            cursor: pointer;
            .thumb {
                width: 128px;
                height: 132px;
                margin: 0 auto 26px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                color: #000000;
            }
        }
    }
}

.document_outline {
    padding: 48px 104px 200px 31px;
    @include sp {
      padding: get_sp(20);
    }
    .thumb {
        width: 41px;
        height: 40px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .inner {
        h2 {
            font-family: 'Inter';
            font-size: normal;
            font-weight: 600;
            font-size: 46px;
            line-height: 56px;
            color: #0D062D;
            margin-left: 72px;
            margin-bottom: 61px;
            @include sp {
              margin-bottom: get_sp(20);
              font-size: get_sp(40);
            }
        }
        .upload_file {
            background-color: rgba(236, 232, 232, 1);
            text-align: center;
            padding: 35px 47px 135px;
            border-radius: 6px;
            border: 1px solid #ECE8E8;
            margin-bottom: 18px;
            margin-left: 35px;
            @include sp {
                padding: get_sp(20);
                margin-left: get_sp(0);
            }
            .thumb {
                width: 200px;
                height: 163px;
                margin: 0 auto 17px;
                padding-top: 85px;
                @include sp {
                    padding-top: get_sp(20);
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 13px;
            }
            .dropzone {
                width: 149px;
                height: 146px;
                position: relative;
                background: #FFFFFF;
                padding-top: 6px;
                @include sp {
                    margin: 0 auto;
                }
                .thumb {
                    width: 110px;
                    height: 104px;
                    margin: 0 auto;
                    padding-top: 0;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .btn {
            float: right;
            @include sp {
                float: unset;
            }
            button {
                width: 209px;
                height: 78px;
                font-family: 'Inter';
                font-size: normal;
                font-weight: 500;
                font-size: 24px;
                text-align: center;
                color: #FFFFFF;
                @include sp {
                    width: 100%;
                }
            }
        }
    }
}